body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f2f5;
  padding: 40px;
  margin: 0;
}

#app {
  max-width: 600px;
  margin: auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

/* Miniaturas */
#miniaturas {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

#miniaturas img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

#miniaturas img:hover {
  transform: scale(1.1);
  border-color: #3498db;
}

/* Imagen principal */
#principal {
  text-align: center;
}

#imagen-principal {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  border: 3px solid #3498db;
}

.nav-completo{
  display: flex; /* Flexbox */
  gap: 8px; /* Espacio entre botones */
  padding: 6px 10px; /* Espacio interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor tipo mano */
  font-size: 0.9em; /* Tamaño pequeño */
  padding: 10px 16px; /* Espacio interno */
  background-color: #3795bb; /* Verde */
  border: none; /* Sin borde */
  color: white; /* Texto blanco */
  border-radius: 6px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a mano */
  transition: background 0.3s; /* Animación suave al cambiar fondo */
}

.nav-completo:hover{
    transform: scale(1.05);
}
